.about-card-title {
    font-weight: bold;
    font-size: 3.5em;
}

.about-card-subtitle {
    font-weight: bold;
    font-size: 1.2em;
}

.about-card-text {
    font-size: 1.4em;
}

.about-card-footer {
    position: absolute;
    bottom: 3vh;
    left: 2vw;
}
