.about-card-title {
    font-weight: bold;
    font-size: 2.5vw;
}

.about-card-subtitle {
    font-weight: bold;
    font-size: 1vw;
}

.about-card-text {
    font-size: 2vh;
}

.about-card-footer {
    position: absolute;
    bottom: 3vh;
    left: 2vw;
}
