/* List Move */
.list-move-move {
  transition: all 1s;
}

/* Slide Right */
.slide-right-enter-active, .slide-right-leave-active {
    transition: all 1.2s;
  }
  
  .slide-right-enter, .slide-right-right-leave-to {
    opacity: 0;
    transform: translate(-80%, 0);
  }
  
  .slide-right-leave {
    opacity: 1;
    transform: translate(100%, 0);
  }
  
  .slide-right-enter-to {
    opacity: 1;
  }
  
  /* Slide Left */
  .slide-left-enter-active, .slide-left-leave-active {
    transition: all 1.4s;
  }
  
  .slide-left-enter, .slide-left-right-leave-to {
    opacity: 0;
    transform: translate(50%, 0);
  }
  
  .slide-left-leave {
    opacity: 1;
    transform: translate(-100%, 0);
  }
  
  .slide-left-enter-to {
    opacity: 1;
  }
  
  /* Slide Up */
  .slide-up-enter-active, .slide-up-leave-active {
    transition: all 1.4s;
  }
  
  .slide-up-enter, .slide-up-right-leave-to {
    opacity: 0;
    transform: translate(0, 100%);
  }
  
  .slide-up-leave {
    opacity: 1;
    transform: translate(0, -100%);
  }
  
  .slide-up-enter-to {
    opacity: 1;
  }

  /* Slide Down */
  .slide-down-enter-active, .slide-down-leave-active {
    transition: all 1.4s;
  }
  
  .slide-down-enter, .slide-down-leave-to {
    opacity: 0;
    transform: translate(0, -100%);
  }
  
  .slide-down-leave {
    opacity: 1;
    transform: translate(0, 100%);
  }
  
  .slide-down-enter-to {
    opacity: 1;
  }